asn1crypto==1.5.1
boto3==1.42.49
botocore==1.42.49
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.5
filelock==3.19.1
idna==3.11
jmespath==1.1.0
joblib==1.5.3
kagglehub==0.3.13
numpy==2.0.2
packaging==26.0
pandas==2.3.3
platformdirs==4.4.0
py4j==0.10.9.9
pycparser==2.23
PyJWT==2.11.0
pyOpenSSL==25.3.0
pyspark==4.0.2
python-dateutil==2.9.0.post0
pytz==2025.2
PyYAML==6.0.3
requests==2.32.5
s3transfer==0.16.0
scikit-learn==1.6.1
scipy==1.13.1
six==1.17.0
snowflake-connector-python==4.3.0
sortedcontainers==2.4.0
threadpoolctl==3.6.0
tomlkit==0.14.0
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==1.26.20
